<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <header class="shadow-md z-50 ">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl flex items-center font-mono text-black">
          <span class="material-symbols-outlined">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
          </span>
          Care Shift
        </a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li class="mr-2"><a class="btn border-blue bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7">ログイン</a></li>
          <li class="mr-2"><a class="btn btn-primary px-7 text-white rounded hover:text-blue hover:bg-white ">新規登録</a></li>
        </ul>
      </div>
    </div>
  </header>
    <div class="hero min-h-screen">
      <div class="hero-overlay">
        <div class="relative hero min-h-screen bg-cover bg-center" style="background-image: url('images/worker2.jpeg');">
          <div class="bg-blue opacity-20 absolute inset-0"></div>
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-5 text-5xl font-bold text-white">シフト作成を自動化</h1>
              <p class="mb-5">介護施設に特化したシフト自動作成サービス<br>「Care Shift」です。</p>
              <a class="btn btn-primary text-white rounded hover:bg-navy hover:underline  px-10 ">今すぐ登録</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <section class="border-b border-blue border-opacity-50">
    <div class="hero min-h-screen bg-base-100 border-b-blue">
      <div class="w-screen max-w-4xl px-4 my-12">
        <div class="mb-24"></div>
        <h2 class="text-4xl font-bold mb-24 text-center">機能一覧</h2>
        <div class="tr-hero-content flex flex-col mb-24 lg:flex-row lg:justify-bitween">
          <div class="mr-24"><img src="images/shift.jpg" alt="" width="1100px"></div>
          <div class="pt-4">
            <div class="flex items-center mb-2">
              <img class="mr-2" src="images/calendar-icon.png" alt="" width="36px">
              <p class="text-navy text-sm font-medium">効率よく、時間短縮</p>
            </div>
              <h3 class="text-4xl mb-8">シフト作成</h3>
              <p class="text-gray mb-8">メンバーを追加して、シフト作成ボタンを押すだけで1ヶ月分のシフトを作成することができます。直感的で誰でも簡単に操作できます。</p>
              <a class="text-blue text-sm hover:underline" href="">登録はこちらから</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-b border-blue border-opacity-50">
    <div class="hero bg-base-100">
      <div class="max-w-4xl px-4 my-12">
        <div class="tr-hero-content flex flex-col mb-24 lg:flex-row lg:justify-bitween mt-24">
          <div class="pt-4 mr-24">
            <div class="flex items-center mb-2">
              <img class="mr-2" src="images/calendar-icon.png" alt="" width="36px">
              <p class="text-navy text-sm font-medium">効率よく、時間短縮</p>
            </div>
              <h3 class="text-4xl mb-8">シフト作成</h3>
              <p class="text-gray mb-8">メンバーを追加して、シフト作成ボタンを押すだけで1ヶ月分のシフトを作成することができます。直感的で誰でも簡単に操作できます。</p>
              <a class="text-blue text-sm hover:underline" href="">登録はこちらから</a>
            </div>
          <div class=""><img src="images/shift.jpg" alt="" width="1100px"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="hero bg-base-100">
      <div class="max-w-4xl px-4 my-12">
        <div class="tr-hero-content flex flex-col mb-24 lg:flex-row lg:justify-bitween mt-24">
          <div class="mr-24"><img src="images/shift.jpg" alt="" width="1100px"></div>
          <div class="pt-4">
            <div class="flex items-center mb-2">
              <img class="mr-2" src="images/calendar-icon.png" alt="" width="36px">
              <p class="text-navy text-sm font-medium">効率よく、時間短縮</p>
            </div>
              <h3 class="text-4xl mb-8">シフト作成</h3>
              <p class="text-gray mb-8">メンバーを追加して、シフト作成ボタンを押すだけで1ヶ月分のシフトを作成することができます。直感的で誰でも簡単に操作できます。</p>
              <a class="text-blue text-sm hover:underline" href="">登録はこちらから</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="hero min-h-screen">
    <div class="hero-overlay">
      <div class="relative hero min-h-screen bg-cover bg-center" style="background-image: url('images/worker2.jpeg');">
        <div class="bg-navy opacity-30 absolute inset-0"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold text-white">「Care Shift」を使ってみる</h1>
            <a class="btn btn-primary text-white rounded hover:bg-navy hover:underline  px-10 ">今すぐ登録</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-center p-10 bg-navy text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
      <a class="link link-hover">利用規約</a>
      <a class="link link-hover">お問い合わせ</a>
      <a class="link link-hover">プライバシーポリシー</a>
    </nav> 
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
        <a href=""><img src="images/github-icon.png" alt="" width="24" height="24"></a>
      </div>
    </nav> 
    <aside>
      <p>Copyright © 2024 - All right reserved by Daichi Okamoto</p>
    </aside>
  </footer>
</body>
</html>