<header class="shadow-sm">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl flex items-center font-mono text-black">
        <span class="material-symbols-outlined">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#434343"><path d="M180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v260h-60v-70H180v430h320v60H180Zm0-550h600v-130H180v130Zm0 0v-130 130ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T902.09-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
        </span>
        Care Shift
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="mr-2"><a class="btn border-blue bg-white text-gray rounded hover:bg-blue hover:text-white hover:border-blue px-7">ログイン</a></li>
        <li class="mr-2"><a class="btn btn-primary px-7 text-white rounded hover:text-blue hover:bg-white ">新規登録</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="hero min-h-screen bg-whitesmoke">
  <div class="w-screen px-4 my-12 max-w-sm">
    <div class="">
      <h1 class="text-3xl font-bold text-center mb-4 text-black">新規登録</h1>
    </div>
    <div class="card bg-base-100 shadow-xl z-20 rounded">
      <div class="card-body">
        <div class="pb-4 pl-4">
          <span class="text-black">メールアドレス</span>
          <label class="input input-bordered flex items-center gap-2 rounded border-gray w-64">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" /><path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" /></svg>
            <input type="text" class="grow" placeholder="Email" />
          </label>
        </div>
        <div class="pb-4 pl-4">
          <span class="text-black">パスワード</span>
          <label class="input input-bordered flex items-center gap-2 border-gray rounded w-64">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" /></svg>
            <input type="password" class="grow" placeholder="password" />
          </label>
        </div>
        <div class="pb-8 pl-4">
          <span class="text-black">パスワード確認</span>
          <label class="input input-bordered flex items-center gap-2 border-gray rounded w-64">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" /></svg>
            <input type="password" class="grow" placeholder="password" />
          </label>
        </div>
        <div class="card-actions items-center pl-4">
          <button class="btn btn-primary text-white rounded hover:bg-navy hover:underline btn-wide">登録</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-center p-10 rounded text-gray text-opacity-50">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav> 
  <aside>
    <p>Copyright © 2024 - Care Shift</p >
  </aside>
</footer>