<footer class="footer footer-center p-10 rounded text-gray text-opacity-50">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', inquiry_path, class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "link link-hover" %>
    <%= link_to 'お問い合わせ', terms_of_service_path, class: "link link-hover" %>
  </nav> 
  <aside>
    <p>Copyright © 2024 - Care Shift</p >
  </aside>
</footer>